.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

@mixin container {
  display: flex;
  justify-content: space-between;
  margin: 4vh 10vw;
}

@mixin button {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  font-weight: bold;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}

//-----------------------------------------------------------------------------------------------

@keyframes slideFromTop {
  0% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(0%);
  }
}

.navContainer {
  @include container;
  height: 55px;

  .logo {
    background-image: url(/assets/logo.jpg);
    width: 300px;
    background-size: 60%;
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .buttonPrimary {
    @include button;
    background-color: rgba(255, 255, 255, 0);
    &:hover {
      background-color: #ffccc4;
      cursor: pointer;
    }
  }

  ul {
    animation: 1s ease-in-out 0s 1 slideFromTop;
    display: flex;
    align-items: center;

    li {
      font-weight: bold;
      margin: 0 3vw;
    }

    a {
      display: inline-block;
      position: relative;
      color: #000000;
    }

    a::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: #000000;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

//-----------------------------------------------------------------------------------------------

@keyframes scaleUp {
  0% {
    transform: scale(10%);
  }
  100% {
    transform: scale(100%);
  }
}

.hero {
  @include container;
  width: 450px;

  .heroText {
    // animation: translateOnX 1s ease-in-out;
    animation: 1.5s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s 1 scaleUp;

    h1 {
      font-size: 80px;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 24px;
      font-weight: 100;
      padding: 20px 0 40px 0;
    }
  }

  .buttonSecondary {
    @include button;
    border: none;
    background-color: #372f7f;
    color: #fcf2d9;
    width: 150px;
    height: 55px;
    &:hover {
      background-color: #ffccc4;
      color: #000000;
      cursor: pointer;
    }
  }
}

//-----------------------------------------------------------------------------------------------

@keyframes slideFromBottom {
  0% {
    transform: translateY(120%);
  }
  40% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}

.coursesContainer {
  @include container;
  align-items: center;
  animation: 1s ease-in-out 0s 1 slideFromBottom;

  .course {
    background-color: #ffffff50;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 250px;
    min-width: 250px;
    height: 243px;
    transition: all 0.35s ease-in-out;
    position: relative;
    top: 0;
    right: 0;
    border-radius: 20px;

    .courseImage {
      scale: 0.6;
    }

    p {
      padding: 30px;
      font-weight: 100;
      // text-align: justify;

      span {
        font-weight: bold;
      }
    }

    &:hover {
      background-color: white;
      cursor: pointer;
      top: -10px;
      right: -10px;
      // box-shadow: -7px 7px 20px 2px rgb(55 47 127 / 25%);
      box-shadow: -7px 7px 20px 2px rgba(0, 0, 0, 0.25);
    }
  }
}

// Media queries
//-----------------------------------------------------------------------------------------------

@media (max-width: 1280px) {
  .navContainer {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    z-index: 10;
    background-color: white;
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

    li:last-child {
      display: none;
    }
  }

  .hero {
    margin-left: 16vw;
    margin-top: 22vh;
    transition: all 0.5s ease-in-out;
    .heroText {
      h1 {
        font-size: 70px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .coursesContainer {
    margin: auto;
    margin-bottom: 7rem;
    .course {
      margin: 0 2vw;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    }
  }
}

//-----------------------------------------------------------------------------------------------

@media (max-width: 768px) {
  .navContainer {
    ul {
      justify-content: space-around;
      width: 100%;
    }
    .logo {
      display: none;
    }
  }

  .hero {
    width: 100%;
    margin: 15px auto 30px auto;
    display: flex;
    justify-content: center;

    .heroText {
      width: 30rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #ffffff60;
      backdrop-filter: blur(10px);
      border-radius: 20px;
      padding: 40px;
      // box-shadow: 0px 0px 14px 6px rgb(0 0 0 / 25%);

      h1 {
        font-size: 50px;
      }
    }
  }

  .coursesContainer {
    flex-direction: column;

    .course {
      width: 60%;
      height: 30%;
      align-items: center;
      text-align: center;
      margin-bottom: 7vh;
      box-shadow: 0px 0px 14px 6px rgb(0 0 0 / 25%);
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 25%);
        top: 0;
        right: 0;
      }
    }
  }
}
