.main {
  display: flex;
  flex-direction: column;
}

@mixin container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 20vh;
}

.container {
  @include container;
}

.logo {
  background-image: url(/assets/logo.jpg);
  width: 300px;
  background-size: 60%;
  background-position: left;
  background-repeat: no-repeat;
}

@mixin button {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-weight: bold;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}

.buttonPrimary {
  @include button;
  background-color: rgba(255, 255, 255, 0);
  &:hover {
    background-color: #ffccc4;
    cursor: pointer;
  }
}

.buttonSecondary {
  @include button;
  border: none;
  background-color: #372f7f;
  color: #fcf2d9;
  width: 30%;
  height: 10%;
  &:hover {
    background-color: #ffccc4;
    color: #000000;
    cursor: pointer;
  }
}

.nav {
  display: flex;
  align-items: center;

  button {
    margin-left: 3rem;
  }

  ul {
    display: flex;

    li {
      font-weight: bold;
      margin: 0 3rem;
    }

    .hoverUnderlineAnimation {
      display: inline-block;
      position: relative;
      color: #000000;
    }

    .hoverUnderlineAnimation::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: #000000;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    .hoverUnderlineAnimation:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.hero {
  @include container;
  margin: 3vh 20vh;
  width: 450px;
}

.heroText {
  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: vh;
  }

  p {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 6vh;
  }
}

.courses {
  display: flex;
  margin: 20vh 0;
  padding: 0 10vh;
}

.courseSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 5vw;
  width: 220px;

  p {
    padding-top: 20px;
    font-weight: 100;
  }

  span {
    font-weight: bold;
  }
}

.courseImage {
  margin: 0 -20px;
  scale: 0.6;
}
